# PlanAhead Generated physical constraints 

NET "MOTOR[3]" LOC = P82;
NET "MOTOR[2]" LOC = P81;
NET "MOTOR[1]" LOC = P80;
NET "MOTOR[0]" LOC = P79;
NET "CONFIRM" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CONFIRM" LOC = P47;
NET "SEL[3]" LOC = P112;
NET "SEL[2]" LOC = P111;
NET "SEL[1]" LOC = P105;
NET "SEL[0]" LOC = P104;
NET "COINS[7]" LOC = P55;
NET "COINS[6]" LOC = P56;
NET "COINS[5]" LOC = P57;
NET "COINS[4]" LOC = P58;
NET "COINS[3]" LOC = P59;
NET "COINS[2]" LOC = P61;
NET "COINS[1]" LOC = P62;
NET "COINS[0]" LOC = P66;
