
# PlanAhead Generated physical constraints 

NET "COIN_STATE_IND[7]" LOC = P67;
NET "COIN_STATE_IND[6]" LOC = P74;
NET "COIN_STATE_IND[5]" LOC = P75;
NET "COIN_STATE_IND[4]" LOC = P78;
NET "COIN_STATE_IND[3]" LOC = P79;
NET "COIN_STATE_IND[2]" LOC = P80;
NET "COIN_STATE_IND[1]" LOC = P81;
NET "COIN_STATE_IND[0]" LOC = P82;
NET "MOTOR[3]" LOC = P137;
NET "MOTOR[2]" LOC = P133;
NET "MOTOR[1]" LOC = P131;
NET "MOTOR[0]" LOC = P126;
NET "SEL_STATE[3]" LOC = P92;
NET "SEL_STATE[2]" LOC = P93;
NET "SEL_STATE[1]" LOC = P94;
NET "SEL_STATE[0]" LOC = P95;
NET "SNACK[3]" LOC = P134;
NET "SNACK[2]" LOC = P132;
NET "SNACK[1]" LOC = P127;
NET "SNACK[0]" LOC = P124;
NET "A1" LOC = P6;
NET "A2" LOC = P8;
NET "A5" LOC = P10;
NET "A10" LOC = P12;
NET "COIN_TRIG" CLOCK_DEDICATED_ROUTE = FALSE;
NET "COIN_TRIG" LOC = P15;
NET "CONFIRM" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CONFIRM" LOC = P140;
NET "SNACK_TRIG" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SNACK_TRIG" LOC = P138;
NET "SNACK_IND_1" LOC = P5;
NET "SNACK_IND_2" LOC = P7;
NET "SNACK_IND_3" LOC = P9;
NET "SNACK_IND_4" LOC = P11;

NET "seven_segment[6]" LOC = P41;
NET "seven_segment[5]" LOC = P40;
NET "seven_segment[4]" LOC = P35;
NET "seven_segment[3]" LOC = P34;
NET "seven_segment[2]" LOC = P32;
NET "seven_segment[1]" LOC = P29;
NET "seven_segment[0]" LOC = P27;
NET "select_display[2]" LOC = P30;
NET "select_display[1]" LOC = P43;
NET "select_display[0]" LOC = P44;
NET "clk" LOC = P123;